################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework1/bin/Debug/net10.0
/Homework1/obj
/Homework1/.vs/Homework1.slnx/FileContentIndex
/Homework1/.vs
/Homework2/obj
/Homework2/.vs/Homework2.slnx
/Homework2/bin/Debug/net10.0
/Homework2/.vs/ProjectEvaluation
/Practice/obj
/Homework/.vs
/Homework/bin/Debug/net10.0
/Homework/obj
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.AssemblyInfo.cs
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.AssemblyInfoInputs.cache
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.csproj.AssemblyReference.cache
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.AssemblyInfo.cs
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.AssemblyInfoInputs.cache
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.csproj.AssemblyReference.cache
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.AssemblyInfo.cs
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.AssemblyInfoInputs.cache
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.AssemblyInfo.cs
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.AssemblyInfoInputs.cache
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.csproj.AssemblyReference.cache
/FinanceTracker.Application/bin/Debug/net10.0/FinanceTracker.Application.dll
/FinanceTracker.Application/bin/Debug/net10.0/FinanceTracker.Application.pdb
/FinanceTracker.Application/bin/Debug/net10.0/FinanceTracker.Domain.dll
/FinanceTracker.Application/bin/Debug/net10.0/FinanceTracker.Domain.pdb
/FinanceTracker.Application/bin/Debug/net10.0/FinanceTracker.Infrastructure.dll
/FinanceTracker.Application/bin/Debug/net10.0/FinanceTracker.Infrastructure.pdb
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.csproj.CoreCompileInputs.cache
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.dll
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.pdb
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.sourcelink.json
/FinanceTracker.Application/obj/Debug/net10.0/ref/FinanceTracker.Application.dll
/FinanceTracker.Application/obj/Debug/net10.0/refint/FinanceTracker.Application.dll
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.Application.dll
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.Application.pdb
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.CLI.deps.json
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.CLI.dll
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.CLI.pdb
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.Domain.dll
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.Domain.pdb
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.Infrastructure.dll
/FinanceTracker.CLI/bin/Debug/net10.0/FinanceTracker.Infrastructure.pdb
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.assets.cache
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.csproj.CoreCompileInputs.cache
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.dll
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.pdb
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.sourcelink.json
/FinanceTracker.CLI/obj/Debug/net10.0/ref/FinanceTracker.CLI.dll
/FinanceTracker.CLI/obj/Debug/net10.0/refint/FinanceTracker.CLI.dll
/FinanceTracker.CLI/obj/FinanceTracker.CLI.csproj.nuget.dgspec.json
/FinanceTracker.CLI/obj/project.assets.json
/FinanceTracker.CLI/obj/project.nuget.cache
/FinanceTracker.Domain/bin/Debug/net10.0/FinanceTracker.Domain.dll
/FinanceTracker.Domain/bin/Debug/net10.0/FinanceTracker.Domain.pdb
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.dll
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.pdb
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.sourcelink.json
/FinanceTracker.Domain/obj/Debug/net10.0/ref/FinanceTracker.Domain.dll
/FinanceTracker.Domain/obj/Debug/net10.0/refint/FinanceTracker.Domain.dll
/FinanceTracker.Infrastructure/bin/Debug/net10.0/FinanceTracker.Domain.dll
/FinanceTracker.Infrastructure/bin/Debug/net10.0/FinanceTracker.Domain.pdb
/FinanceTracker.Infrastructure/bin/Debug/net10.0/FinanceTracker.Infrastructure.dll
/FinanceTracker.Infrastructure/bin/Debug/net10.0/FinanceTracker.Infrastructure.pdb
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.csproj.CoreCompileInputs.cache
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.dll
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.pdb
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.sourcelink.json
/FinanceTracker.Infrastructure/obj/Debug/net10.0/ref/FinanceTracker.Infrastructure.dll
/FinanceTracker.Infrastructure/obj/Debug/net10.0/refint/FinanceTracker.Infrastructure.dll
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.assets.cache
/FinanceTracker.Application/obj/FinanceTracker.Application.csproj.nuget.dgspec.json
/FinanceTracker.Application/obj/project.assets.json
/FinanceTracker.Application/obj/project.nuget.cache
/FinanceTracker.Application/Services/FinanceService.cs
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.assets.cache
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.csproj.CoreCompileInputs.cache
/FinanceTracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.dgspec.json
/FinanceTracker.Domain/obj/project.assets.json
/FinanceTracker.Domain/obj/project.nuget.cache
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.assets.cache
/FinanceTracker.Infrastructure/obj/FinanceTracker.Infrastructure.csproj.nuget.dgspec.json
/FinanceTracker.Infrastructure/obj/project.assets.json
/FinanceTracker.Infrastructure/obj/project.nuget.cache
/FinanceTrackerMVC/bin/Debug/net10.0/FinanceTracker.Application.dll
/FinanceTrackerMVC/bin/Debug/net10.0/FinanceTracker.Application.pdb
/FinanceTrackerMVC/bin/Debug/net10.0/FinanceTrackerMVC.dll
/FinanceTrackerMVC/bin/Debug/net10.0/FinanceTrackerMVC.pdb
/FinanceTrackerMVC/obj/Debug/net10.0/apphost.exe
/FinanceTrackerMVC/obj/Debug/net10.0/FinanceTrackerMVC.AssemblyInfoInputs.cache
/FinanceTrackerMVC/obj/Debug/net10.0/FinanceTrackerMVC.csproj.AssemblyReference.cache
/FinanceTrackerMVC/obj/Debug/net10.0/FinanceTrackerMVC.dll
/FinanceTrackerMVC/obj/Debug/net10.0/FinanceTrackerMVC.GeneratedMSBuildEditorConfig.editorconfig
/FinanceTrackerMVC/obj/Debug/net10.0/FinanceTrackerMVC.pdb
/FinanceTrackerMVC/obj/Debug/net10.0/FinanceTrackerMVC.sourcelink.json
/FinanceTrackerMVC/obj/Debug/net10.0/ref/FinanceTrackerMVC.dll
/FinanceTrackerMVC/obj/Debug/net10.0/refint/FinanceTrackerMVC.dll
/FinanceTrackerMVC/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/FinanceTrackerMVC/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/FinanceTrackerMVC/obj/Debug/net10.0/rpswa.dswa.cache.json
