################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework1/bin/Debug/net10.0
/Homework1/obj
/Homework1/.vs/Homework1.slnx/FileContentIndex
/Homework1/.vs
/Homework2/obj
/Homework2/.vs/Homework2.slnx
/Homework2/bin/Debug/net10.0
/Homework2/.vs/ProjectEvaluation
/Practice/obj
/Homework/.vs
/Homework/bin/Debug/net10.0
/Homework/obj
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.AssemblyInfo.cs
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.AssemblyInfoInputs.cache
/FinanceTracker.Application/obj/Debug/net10.0/FinanceTracker.Application.csproj.AssemblyReference.cache
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.AssemblyInfo.cs
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.AssemblyInfoInputs.cache
/FinanceTracker.CLI/obj/Debug/net10.0/FinanceTracker.CLI.csproj.AssemblyReference.cache
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.AssemblyInfo.cs
/FinanceTracker.Domain/obj/Debug/net10.0/FinanceTracker.Domain.AssemblyInfoInputs.cache
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.AssemblyInfo.cs
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.AssemblyInfoInputs.cache
/FinanceTracker.Infrastructure/obj/Debug/net10.0/FinanceTracker.Infrastructure.csproj.AssemblyReference.cache
